<div class="layui-body">
	<div class="box-title">
	  添加新文章
	</div>
<form class="layui-form layui-form-pane" action="{:url('admin/article/newarticle_out')}" method="post" id="articleForm">
  <div class="layui-row layui-col-space30">
    <div class="layui-col-md9">
      <!-- 隐藏域ID -->
      <input type="hidden" name="id" value="{$message.id}">
      <!-- 文章标题 -->
      <div class="layui-form-item">
        <label class="layui-form-label">文章标题</label>
        <div class="layui-input-block">
          <input type="text" name="title" required  lay-verify="required" placeholder="(必填) 文章标题" autocomplete="off" class="layui-input" value="{$message.title}">
        </div>
      </div>
      <!-- 标题图片 -->
      <div class="layui-form-item">
        <label class="layui-form-label">标题图片</label>
        <div class="layui-input-block">
          <input type="text" name="titlepic" placeholder="(可选) 点击选择文章图片" autocomplete="off" class="layui-input" value="{$message.titlepic}">
          <input type="file" name="blackFile" style="position: absolute;top:0;left: 0;width: 100%;height: 100%;opacity: 0;" id="blackFile">
        </div>
      </div>
      <!-- 关键词 -->
       <div class="layui-form-item">
        <label class="layui-form-label">关键词</label>
        <div class="layui-input-block">
          <input type="text" name="keywords" placeholder="(可选) 为文章填写关键词" autocomplete="off" class="layui-input" value="{$message.keywords}">
        </div>
      </div>
        <!-- 描述 -->
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-block">
          <textarea name="description" placeholder="(可选) 为文章填写SEO描述" class="layui-textarea">{$message.description}</textarea>
        </div>
      </div>
       <!-- 文章内容 -->
      <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">正文内容</label>
        <div class="layui-input-block">
          <div id="content"></div>
          <div class="content" style="display: none;">{$message.content}</div>
        </div>
      </div>
    </div>

    <!--  -->
    <div class="layui-col-md3">
              <!-- 分类 -->
              <div class="layui-form-item" >
                <label class="layui-form-label">所属分类</label>
                <div class="layui-input-block">
                  <select name="the_cate" lay-verify="required">
                    {if condition="!empty($message.catename)"}
                      <option value="{$message.the_cate}">{$message.catename}</option>
                    {/if}
                    {$allCate}
                  </select>
                </div>
              </div>
              <!-- 杂项 -->
              <div class="layui-form-item">
                <label class="layui-form-label">文章别名</label>
                <div class="layui-input-block">
                  <input type="text" name="alias" placeholder="(可选) 文章别名a-zA-Z" autocomplete="off" class="layui-input" value="{$message.alias}">
                </div>
              </div>
              <div class="layui-form-item">
                 <label class="layui-form-label">访问密码</label>
                <div class="layui-input-block">
                 
                  <input type="text" name="password" placeholder="(可选) 访问密码" autocomplete="off" class="layui-input" value="{$message.password}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">文章来源</label>
                <div class="layui-input-block">
                  <input type="text" name="source" placeholder="(可选) 文章来源地址" autocomplete="off" class="layui-input" value="{$message.source}">
                </div>
              </div>
              <div class="layui-form-item">
                 <label class="layui-form-label">模板</label>
                <div class="layui-input-block">
                  <input type="text" name="template" placeholder="(可选) 模板 例: article.html" autocomplete="off" class="layui-input" value="{$message.template}">
                </div>
              </div>
              <!-- 杂项 -->
<!--               <div class="layui-form-item">
                <label class="layui-form-label">所属会员</label>
                <div class="layui-input-block">
                  <input type="number" name="the_user" placeholder="(可选) 所属会员 填写ID" autocomplete="off" class="layui-input" value="{$message.the_user}">
                </div>
              </div> -->
              <div class="layui-form-item">
                 <label class="layui-form-label">获赞数量</label>
                <div class="layui-input-block">
                  <input type="number" name="zan" placeholder="(可选) 获赞数量" autocomplete="off" class="layui-input" value="{$message.zan}">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">浏览次数</label>
                <div class="layui-input-block">
                  <input type="text" name="view" placeholder="(可选) 浏览次数" autocomplete="off" class="layui-input" value="{$message.view}">
                </div>
              </div>
              <div class="layui-form-item">
                  <label class="layui-form-label">文章状态</label>
                  <div class="layui-input-block">
                    <input type="radio" name="status" value="1" title="正常" checked>
                    <input type="radio" name="status" value="0" title="待审核" >
                    <input type="radio" name="status" value="2" title="草稿">
                    <input type="radio" name="status" value="3" title="回收站">
                  </div>
              </div>
                <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                  <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
              </div>
    </div>
  </div>
  
  
</form>

<script>

  // 初始化 wangedit
  var edit        =   window.wangEditor;
  var editor      =   new edit('#content');
  var uploadURL   =   "{:url('index/upload/upload')}";
  // 增加上传图片配置
  editor.customConfig.uploadImgServer = uploadURL;
  editor.create();
  // 设置文章内容
  content         = $('.content').html();
  editor.txt.html(content);


//Demo
layui.use('form', function(){
  var form        =   layui.form;

  var articleStatus  = "{$message.status}";
   if(articleStatus == ''){
      articleStatus   = 1;
   }
   $(":radio[name='status'][value='" + articleStatus + "']").prop("checked", "checked");


  form.render();
  
  //监听提交
  form.on('submit(formDemo)', function(data){
    var fis       =   data.field;
    var action    =   data.form.action;
    var method    =   data.form.method;


    // 获取文章的内容
    var content   =   editor.txt.html();

    if(content.length   <   5){
      msgAlert(0,'文章内容太少',0);
    }else{
      fis['content']  = content;
    }


    // 开始请求
    $.ajax({
      url:action,
      type:method,
      data:fis,
      success:function(da){
       msgAlert(da['code'],da['msg'],da['code']);
      }
    });

    return false;
  });

});
// 上传图片
  $(document).delegate('input[name="blackFile"]','change',function(){
    var url       = "{:url('index/upload/upload')}";
    var files       = $("#blackFile").prop('files');

    if(files.length <= 0){
      msgAlert(0,'没有选择文件哦！',0);
      return false;
    }

    if(files.length > 1){
      msgAlert(0,'不能上传多个文件',0);
      return false;
    } 

    var fileProject     =  new FormData();
    fileProject.append("blackFile",files[0]);

    $(this).replaceWith('<input type="file" name="blackFile" style="position: absolute;top:0px;height: 100%;width: 100%;opacity: 0;cursor: pointer;" title="点击选择文件" id="blackFile" >');


    $.ajax({
      url:url,
      type:'post',
      data:fileProject,
      processData : false,
      contentType : false,
      dataType: "json",
      success:function(data){
        var derrno  = data['errno'];
        var ddata   = data['data'];

        if(derrno == 0){
          msgAlert(1,'上传图片成功',0);
          $('input[name="titlepic"]').val(ddata[0]);
        }else{
          msgAlert(0,'上传图片失败',0);
        }
      }
    });
  });

</script>


</div>