<div class="layui-body" style="padding-right: 10px;">
	<style type="text/css">
		body {background: #f2f2f2;}
	</style>
	<!-- 左边8  右边4 -->
	<div class="layui-row layui-col-space30">
		<div class="layui-col-md9">
			<!-- 分为快捷方式 和 待办 -->
			<div class="layui-row layui-col-space30">
				<div class="layui-col-md12">
					<div class="console-db-block">
						<div class="console-title">
							<i class="fa fa-link" aria-hidden="true"></i></i>&nbsp;&nbsp;&nbsp;&nbsp;站点统计
						</div>
						<!-- list -->
						<div class="console-db-block-list">
							<ul>
								<li>
									<i class="fa fa-file" aria-hidden="true"></i>
									<span class="list-num">44</span>
								</li>
								<li>
									<i class="fa fa-file-code-o" aria-hidden="true"></i>
									<span class="list-num">44</span>
								</li>
								<li>
									<i class="fa fa-user-circle" aria-hidden="true"></i>
									<span class="list-num">44</span>
								</li>
								<li>
									<i class="fa fa-commenting" aria-hidden="true"></i>
									<span class="list-num">44</span>
								</li>
								
							</ul>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		<!-- 右边 -->
		<div class="layui-col-md3">
			<div class="console-db-block">

				<!-- 版本信息 -->
				<div class="console-title">
					<i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;版本信息
				</div>
				<div class="console-bbxx">
					<table class="layui-table">
						<tr>
							<td>系统名称</td>
							<td>BLACK-CMS</td>
						</tr>
						<tr>
							<td>系统版本</td>
							<td>0.10</td>
						</tr>
						<tr>
							<td>后台框架</td>
							<td>ThinkPHP 5.0.1</td>
						</tr>
						<tr>
							<td>前端库</td>
							<td>Layui,Jquery,Awesome</td>
						</tr>
						<tr>
							<td>开发人员</td>
							<td>任鹏鹏</td>
						</tr>
					</table>
				</div>
			</div>
				<!-- 版本信息结束 -->

				<!-- 产品动态开始 -->
			<div class="console-db-block" style="margin-top: 30px;">
				<div class="console-title">
					<i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;版本信息
				</div>
				<div class="console-bbxx">
					<table class="layui-table">
						<tr>
							<td>系统名称</td>
							<td>BLACK-CMS</td>
						</tr>
						<tr>
							<td>系统版本</td>
							<td>0.10</td>
						</tr>
						<tr>
							<td>后台框架</td>
							<td>ThinkPHP 5.0.1</td>
						</tr>
						<tr>
							<td>前端库</td>
							<td>Layui,Jquery,Awesome</td>
						</tr>
						<tr>
							<td>开发人员</td>
							<td>任鹏鹏</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>